* {
box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Hylia;
}

@font-face {
    font-family: Hylia;
    src: url(HyliaSerifBeta-Regular.ttf);
}

.header {
    padding: 48px 16px
    text-align: center;
    background-color: #B0E0E6	;

}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}