* {
box-sizing: border-box;
}

body {
    margin: 0;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1, h2, h3 {
    font-family: hylia;
}

@font-face {
    font-family: hylia;
    src: url(hyliaSerifBeta-Regular.ttf);
}

.header {
    padding: 58px 16px;
    text-align: center;
    background: rgb(236,189,68);
    background: linear-gradient(0deg, rgba(236,189,68,1) 0%, rgba(176,224,230,1) 90%);

}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
}