* {
box-sizing: border-box;
}

html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

body {
    margin: 0;
}

h1, h2, h3 {
    font-family: hylia;
}

@font-face {
    font-family: hylia;
    src: url(hyliaSerifBeta-Regular.ttf);
}

.header {
    padding: 3rem 1rem;
    padding-top: 4,5rem;
    text-align: center;
    background: #86a5a9;
    position: relative;
}

.heading-group {
    font-size: 3rem;
}
  
.main-heading {
    font-size: 1em;
}
  
.profession {
    font-size: 1,5em;
}

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.hire-me {
    font-family: hylia;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0,5rem;
    border-radius: 0,25rem;
    background: #fdffe0;
    color: #633200;
}

.main {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}
.nav-link {
    padding: 0,25rem 0,5rem;
    color: black;
}

.nav-link:hover {
    color: black;
    background-color: #6b8487;
}

.nav-link:active {
    color: white;
    background-color: #6b8487;
}

.main {
    max-width: 80ch;
    margin: 0 auto;
    padding: 1rem;
}
  
.main > * + * {
    margin-top: 3rem;
}
  
.main > * {
    border-top: 0,125rem solid grey;
    padding: 0 1rem;
}
  
.main > *:first-child {
    border-top: none;
}

.article-heading {
    position: relative;
    left: -1rem;
}

.experience-heading {
    display: inline-block;
}

.experience-subheading {
    display: inline-block;
}

